body {
  font-family: Arial, Helvetica, sans-serif;
}

.drag-field {
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(239, 239, 239);
  border-radius: 2px;
  width: 500px;
  height: 400px;
  margin-left: 100px;
  position: relative;
}

.drag {
  font-size: 14px;
  background-color: rgb(52, 150, 104);
  display: inline;
  width: auto;
  padding: 10px;
  border-radius: 6px;
  cursor: grab;

  position: absolute;
  left: 200px;
  top: 20px;
}


.resize-element {
  background-color: rgb(189, 65, 65);
  color: white;
  font-size: 14px;
  display: inline;
  padding: 9px;
  border-radius: 6px;
  border: 2px solid rgb(189, 65, 65);

  position: absolute;
  left: auto;
  top: 20px;
  right: auto;
}

.resize-element:hover {
  border-color: rgb(113, 10, 10);
}