.files-page-section {
  display: none;
}

.files-page-section.active {
  display: block;
}

.files-page-container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #efefef;
  border-radius: 12px;
}

.files-list-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

