body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 20px;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

.akshar-editor {
  display: flex;
  gap: 10px;
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-top: 32px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
}

.tier-label-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
}


.tier-label-container p {
  background-color: rgb(220, 220, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 44px;
  font-weight: bold;
}


.timeline {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
}

.timeline::-webkit-scrollbar{
  display: none;
}

.flex-display {
  display: flex;
  justify-content: space-between;
}

.word-tier {
  height: 44px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
}

.grid-timeline {
  display: flex;
}

.booth-grid {
  background-color: rgb(186, 182, 245);
  width: 480px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
}

.locked {
  border: 2px solid rgb(12, 116, 14);
  border-radius: 2px;
}

.lock {
  position: absolute;
  right: 10px;
  top : 5px;

  cursor: pointer;

  background-color: rgb(37, 37, 37);
  padding: 4px 6px;
  border-radius: 20px;
}

.lock-green {
  background-color: "green";
}

.akash-tier {
  background-color: rgb(49, 95, 189);
  width: auto;
  height: 44px;
  display: flex;
}

.akash-cell {
  background-color: rgb(247, 158, 147);
  border: 1px solid rgb(101, 68, 68);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agni-tier {
  background-color: orange;
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.agni-cell {
  background-color: rgb(183, 224, 172);
  border: 0.5px solid rgb(101, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vayu-tier {
  background-color: rgb(118, 107, 234);
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vayu-cell {
  background-color: rgb(172, 224, 218);
  border: 0.5px solid rgb(101, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
}


.jal-tier {
  background-color: rgb(76, 70, 251);
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.jal-cell {
  background-color: rgb(172, 203, 224);
  border: 0.5px solid rgb(101, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prithvi-tier {
  background-color: rgb(172, 124, 76);
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.prithvi-cell {
  background-color: rgb(216, 216, 216);
  border: 0.5px solid rgb(101, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
}

.adjust-akshar-timeline {
  background-color: #e5e7eb;
  height: 44px;
  display: flex;
  position: relative;
}


.akshar {
  height: 100%;
  width: 100px;
  background-color: rgb(53, 134, 241);
  border-radius: 4px;
  border: 2px solid rgb(25, 91, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}


.note {
  font-size: 12px;
  font-weight: 300;
  color: rgb(107, 106, 106);
  margin-bottom: 10px;
}


.submit-data {
  background-color: rgb(52, 69, 219);
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  width: 150px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 200px;
}

.submit-data:hover {
  opacity: 0.9;
}

@media (max-width: 640px ) {
  .tier-label-container {
    display: none;
  }

  .submit-data {
    margin-left: 110px;
  }
}