.navigation-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.record-page-button,
.annotate-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-size: 16px;
  font-weight: 300;
  background-color: rgb(216, 211, 211);
  color: rgb(122, 119, 119);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}


.record-page-button:hover ,
.annotate-page-button:hover {
  box-shadow: 0px 0px 5px rgba(233, 233, 233, 0.537);
}


.active-page-button {
  background-color: rgb(34, 34, 34);
  color: rgb(235, 235, 235);
}


.record-section,
.annotate-section {
  display: none;
}

.record-section.active,
.annotate-section.active {
  display: block;
}
