body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.recorder-container {
  max-width: 900px;
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.panel {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.panel h4 {
  margin-bottom: 0px;
}

.record-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #ff3b3b;
  cursor: pointer;
  margin: 8px;
}

.record-btn.recording {
  background: #999;
}

.stop-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #222;
  color: #fff;
  cursor: pointer;
  margin-top: 6px;
}

.stop-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.timer {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
}

audio {
  width: 100%;
  margin-top: 12px;
}

video {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  margin-top: 12px;
  border-radius: 8px;
}


.submit-audio-button,
.submit-video-button {
  background-color: rgb(151, 151, 151);
  color: white;
  border: none;
  padding: 7px 16px;
  margin-top: 5px;
  border-radius: 20px;
  cursor: not-allowed;

}

.active-button {
  background-color: rgb(51, 71, 220);
  cursor: pointer;
}