.slow-timeline{
  height: 160px;
  background-color: #ffffff;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 10px;
  padding: 0px 10px;
  overflow: auto;
}

.prithvi-cells-container{
  display: flex;
  background-color: black;
  overflow: auto;
}

.slowed-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 60px;
  background-color: rgb(232, 241, 232);
  width: 60px;
  height: 60px;
  border: 0.9px solid black;
}

.cell-text{
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}